/* Write your CSS here */
.nav1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.img1 {
  height: 50px;
  width: 50px;
}
ul {
  display: flex;
  list-style: none;
}
li {
  margin-left: 10px;
}
.nav2 {
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.ul1 {
  color: white;
}
.ul2 {
  color: black;
}
